.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > a {
  text-decoration: none;
  color: #fff;
}

.title-group {
  margin: 0 0 0 20px;
}

.title-group a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.title-group a i {
  margin: 0 5px 0 0
}